<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Top Swaps</title>
	</head>
	<body>
		<form method="post">
			<h1>
				Want to see the Top Swaps in the history of Uniswap? Enter the
				number of Top Swaps you want to see!
			</h1>
			<p><input type="number" name="top_swap_count" /></p>
			<p><input type="submit" value="submit" /></p>
		</form>
		<div>{{ json_table | safe }}</div>
	</body>
</html>
